* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.main-info {
    background: url(../img/bg.webp) center center/ cover no-repeat;
    filter: brightness(90%);
    min-height: 100vh;
    padding: 80px 0 130px 0;
    position: relative;
    .container {
        display: grid;
        grid-template-columns: 1fr 360px;
    }


    &__uptitle {
        font-size: 14px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 600;
    }
    &__title {
        font-size: 46px;
        color: #fff;
        line-height: 1.17;
        font-weight: 600;
        a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__bottom-title {
        color: #fff;
        margin-top: 20px;
        font-size: 22px;
        font-weight: 500;
    }

    &__form-section {
        background-color: #dbdbdb;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        height: max-content;
    }

    &__form-title {
        font-size: 30px;
        text-align: center;
        color: #000000;
    }

    &__form-subtitle {
        font-size: 18px;
        text-align: center;
        color: #000000;
        font-weight: 300;
        margin: 10px 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__input {
        color: #000000;
        border: 1px solid #7a7a7a;
        background-color: #ffffff;
        padding: 0 18px;
        height: 50px;
        font-size: 16px;
        line-height: 1.33;
        width: 100%;
        font-weight: 300;
    }

    &__button {
        color: #ffffff;
        background-color: #379bed;
        width: 100%;
        height: 50px;
        padding-right: 30px;
        padding-left: 30px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        border:none;
        border-radius: 10px;
        transition: .5s all;
        &:hover {
            background-color: #168cec;
        }
    }

    &__form-policy {
        font-weight: 300;
        color: #000;
        text-align: center;
        margin-top: 10px;
    }

    &__down-arrow {
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translateX(-50%);
        animation: move 2s infinite ease-in-out;
    }

    &__tel {
        transition: .5s all;
        &:hover {
            color: #379bed;
        }
    }
}

.work-today {
    font-size: 46px;
    padding: 30px 0 45px 0;
    text-align: center;
    background-color: #f5f5f5;
    &__tel {
        text-decoration: none;
        color: #000;
        transition: .5s all;
        &:hover {
            color: #379bed;
        }
    }
}

.paragraph-first {
    &__subtitle {
        padding-top: 34px;
        padding-bottom: 14px;
        text-align: center;
        font-size: 28px;
        line-height: 1.17;
        font-weight: 500;
    }
    &__text {
        text-align: center;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 300;
        padding: 6px 0;
    }
}

.paragraph-second {
    &__info-wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 560px);
        gap: 20px;
        row-gap: 40px;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        &-img {
            width: 100px;
        }
        &-title {
            font-weight: 700;
            font-size: 22px;
            line-height: 1.35;
            margin-bottom: 25px;
        }
        &-descr {
            font-size: 14px;
            line-height: 1.55;
            font-weight: 300;
        }
    }

}
.paragraph {
    padding: 30px 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 80px;
    }
    &__title {
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 52px;
        padding-bottom: 50px;
    }
    &__descr {
        font-size: 26px;
        font-weight: 300;
        line-height: 1.55;
        text-align: center;
    }
}
.footer {
    width: 100%;
    background-color: #379bed;
    height: 50px;
}

@keyframes move {

    from,
    to {
        bottom: 80px;
    }

    25%,
    75% {
        bottom: 90px;
    }

    50% {
        bottom: 80px;
    }
}

@import './media.scss';
